.card {
  background-color: var(--main-bg_color);
  border-radius: 24px;
  padding: 24px;
  max-width: 1184px;
  border: 1px solid red;
  display: flex;
  gap: 48px;
}

.title {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 32px;
}
.info_wrap {
  max-width: 968px;
}
