.register {
  color: var(--main-bg_color);
  background-color: var(--text-color);
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  transition: background-color var(--transition);
  &:hover,
  &:focus {
    background-color: var(--text-grey);
  }
}
