.liked {
  stroke: var(--text-color);
  fill: transparent;
  cursor: pointer;
  transition: stroke var(--transition);
  &:hover,
  &:focus {
    stroke: var(--bg-color);
  }
}
.added {
  stroke: var(--bg-color);
  fill: var(--bg-color);
  transition: all var(--transition);
  &:hover,
  &:focus {
    stroke: var(--bg-color_hover);
    fill: var(--bg-color_hover);
  }
}
.btn {
  position: absolute;
  right: 0;
  top: -50%;
}
@media screen and (min-width: 768px) {
  .btn {
    top: -10%;
  }
}
@media screen and (min-width: 1440px) {
  .btn {
    position: static;
  }
}
