.form {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    margin-bottom: 32px;
    flex-direction: row;
    display: flex;
    gap: 20px;
  }
}
