.wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  & span {
    color: var(--text-grey);
    font-size: 14px;
    line-height: 1.29;
    text-transform: capitalize;
  }
}
.select {
  padding: 14px 18px;
  border-color: transparent;
  border-radius: 14px;
  font-size: 18px;
  line-height: 111%;
}
